<table>
    <th>Date</th>
    <th>Description</th>
    <th>Debit</th>
    <th>Credit</th>
    <th>Category</th>
    <form action="/view" method="post">
    {% for row in query %}
    <tr>
        <td>{{ row.date }}</td>
        <td>{{ row.description }}</td>
        <td>{{ row.debit }}</td>
        <td>{{ row.credit }}</td>
        <td>
            <input type="text" name="text-{{ row.id }}" placeholder="Enter new category">
        </td>
    </tr>
    {% endfor %}
</table>
<input name="submit" type="submit">
</form>

